:root {
    --bg-color: #1B1B1B;
    --sheet-bg: #282828;
    --item-bg: #282828;
    --text-color: white;
    --secondary-text-color: #b4b4b4;
    --search-focus-bg: #3a3a3a;
    --green-accent: #00FF88;
    --secondary-bg-color: white;
    --secondary-text-color-p: #282828;
    --content-max-width: 900px;
    --content-padding: 1rem;
    --unavailable-bg-color: #949494;
    --unavailable-text-color: #1B1B1B;
}

.theme-white {
    --bg-color: #ffffff;
    --sheet-bg: #bbbbbb;
    --item-bg: #d1d1d1;
    --text-color: #282828;
    --secondary-text-color: #424242;
    --search-focus-bg: #c0c0c0;
    --secondary-bg-color: #ffffff;
    --secondary-text-color-p: #282828;
    --unavailable-bg-color: #949494;
    --unavailable-text-color: #ffffff;
}

.theme-black {
    --bg-color: #000000;
    --sheet-bg: #1A1A1A;
    --item-bg: #1A1A1A;
    --text-color: white;
    --secondary-text-color: #888888;
    --search-focus-bg: #333333;
    --secondary-bg-color: white;
    --secondary-text-color-p: #1B1B1B;
    --unavailable-bg-color: #949494;
    --unavailable-text-color: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    background: var(--bg-color);
    min-height: 100vh;
}

header h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 170px;
    background: var(--bg-color);
    z-index: 10;
    padding-top: 2rem;
}

.container {
    max-width: var(--content-max-width);
    margin: 180px auto 3rem auto; 
    padding: 0 var(--content-padding);
    z-index: 10;
}

.sticky-header .container-inner {
    max-width: var(--content-max-width);
    margin: 0 auto;
    padding: 0 var(--content-padding);
}

.container.blur-active {
    filter: blur(5px);
    transition: filter 0.3s ease;
    pointer-events: none;
}

.container.blur-active,
.sticky-header.blur-active { 
    transform: translateZ(0); 
    will-change: filter, transform; 
    filter: blur(5px);
    transition: filter 0.3s ease;
    pointer-events: none;
}

.container a {
    font-family: "Special Gothic Expanded One", sans-serif;
    color: #888;
    text-align: center;
    margin-top: 2rem;
    font-size: 0.9rem;
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}

.search-bar {
    position: relative;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
}

#searchInput {
    width: 100%;
    height: 50px;
    padding: 12px 40px 12px 18px;
    border: none;
    border-radius: 32px;
    background: var(--item-bg);
    color: var(--text-color);
    font-family: "Unbounded", sans-serif;
    font-size: 1rem;
    outline: none;
    transition: background 0.2s;
}

#searchInput:focus {
    background: var(--search-focus-bg);
}

.search-icon {
    position: absolute;
    right: 15px;
    width: 40px;
    height: 40px;
    object-fit: contain;
    pointer-events: none;
}

.timer-button {
    margin: 0px auto 50px;
    padding: 14px 32px;
    font-family: "Unbounded", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #949494;
    background: #949494;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: block;
    min-width: 220px;
}

.timer-button.unavailable {
    background: var(--unavailable-bg-color);
    color: var(--unavailable-text-color);
    cursor: default;
}

.app-item[data-status="unavailable"] .app-info p {
    background: var(--unavailable-bg-color);
    color: var(--unavailable-text-color);
}

.filter-bar {
    display: flex;
    overflow-x: auto; 
    gap: 12px;
    padding-bottom: 15px; 
    margin-bottom: 1rem;
    -webkit-overflow-scrolling: touch; 
    cursor: grab; 
}

.filter-bar.dragging {
    cursor: grabbing;
}

.filter-button {
    font-family: "Unbounded", sans-serif;
    font-weight: 500;
    background: var(--item-bg);
    color: var(--text-color);
    border: 2px solid transparent;
    padding: 10px 32px;
    border-radius: 25px;
    white-space: nowrap; 
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: 1rem;
}

.filter-button:hover {
    background: var(--search-focus-bg);
}

.filter-button.active {
    background: var(--item-bg);
    color: var(--text-color);
    border: 2px solid var(--green-accent);
    font-weight: 800;
}


.apps-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.app-item {
    background: var(--item-bg);
    font-family: "Unbounded", sans-serif;
    padding: 1rem;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    height: 100%;
    width: 100%;
    box-shadow: none;
    border: 2px solid transparent;
    position: relative;
    overflow: hidden;
    letter-spacing: 1.2px;
}

.app-item:active {
    border-color: rgba(255, 255, 255, 0.2);
}

.app-item.selected {
    border: 2px solid var(--green-accent);
    box-shadow: none;
    position: relative;
    z-index: 1;
}

.app-item.hidden {
    display: none;
}

.floating-menu-trigger {
    position: fixed;
    bottom: 15px;
    left: 15px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 100;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.img-menu-trigger {
    width: 50px;
    height: 50px;
    object-fit: center;
}

.floating-menu-trigger:hover {
    transform: scale(1.05);
}

.popup-menu {
    position: fixed;
    bottom: 80px;
    left: 15px;
    width: 60px;
    background: var(--item-bg);
    border-radius: 10px;
    padding: 10px;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}

.popup-menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.color-palette {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 5px;
}

.color-palette-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.2s ease;
    padding: 0;
    flex-shrink: 0;
}

.color-palette-item:hover {
    transform: scale(1.05);
}

.white-color {
    background-color: #ffffff;
}

.grey-color {
    background-color: #4B5563;
}

.black-color {
    background-color: #000000;
}

.color-palette-item.active {
    border: 2px solid var(--green-accent);
    transform: scale(1.1); 
}

.app-icon {
    font-size: 2.5rem;
    width: 80px;
    height: 80px;
}

.app-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.app-info {
    flex: 1;
}

.app-info h3 {
    font-size: 1.3rem;
    color: var(--text-color);
}

.app-info p {
    color: var(--secondary-text-color-p);
    font-size: 0.9rem;
    background: var(--secondary-bg-color);
    border-radius: 32px;
    margin-top: 5px;
    padding: 10px 25px;
    font-family: "Unbounded", sans-serif;
    font-weight: 500;
    font-optical-sizing: auto;
    font-style: normal;
    display: inline-block;
    max-width: 100%;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    z-index: 999;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

.bottom-sheet {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    background: var(--sheet-bg);
    border-radius: 40px 40px 0 0;
    transform: translateY(100%);
    transition: transform 0.3s ease-out;
    z-index: 1000;
    overflow: hidden;
}

.bottom-sheet.active {
    transform: translateY(0);
}

.bottom-sheet::-webkit-scrollbar{
    display: none;
}

.bottom-sheet-content {
    padding: 0;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sheet-handle {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 5px;
    background: rgba(255, 255, 255);
    border-radius: 3px;
    z-index: 10;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.sheet-handle:active {
    cursor: grabbing;
}

.app-banner {
    margin: 20px;      
    margin-top: 25px;
    width: calc(100% - 40px);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.app-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.banner-icon {
    position: absolute;
    bottom: 16px;
    left: 20px;
    font-size: 4.8rem;
    color: white;
    text-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
    pointer-events: none;
}

.app-banner::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80%;
    background: linear-gradient(180deg, transparent 0%, rgba(0,0,0,0.65) 100%);
    border-radius: 20px;
    pointer-events: none;
}

.app-name {
    color: var(--text-color);
    margin-bottom: 1rem;
    text-align: left;
    padding: 0 20px;
    width: 100%;
    align-self: flex-start;
    margin-left: 0;
    font-size: 30px;
    font-family: "Special Gothic Expanded One", sans-serif;
    letter-spacing: 1.8px;
}

.app-description {
    color: var(--secondary-text-color);
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 1.6;
    text-align: left;
    margin-bottom: 2rem;
    margin-top: -10px;
    align-self: flex-start;
    padding: 0 20px;
    font-size: 20px;
}

.timer-button {
    margin: 0px auto 50px;
    padding: 14px 32px;
    font-family: "Unbounded", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: var(--secondary-text-color-p);
    background: var(--secondary-bg-color);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: block;
    min-width: 220px;
}

@media (min-width: 932px) { 
    .floating-menu-trigger,
    .popup-menu {
        left: calc(50% - (var(--content-max-width) / 2) + var(--content-padding)); 
    }
}


@media (max-width: 600px) {
    header h1 {
        font-size: 1.0rem;
    }
    .app-info p {
        color: var(--secondary-text-color-p);
        font-size: 0.9rem;
        background: var(--secondary-bg-color);
        border-radius: 32px;
        margin-top: 5px;
        padding: 10px 25px;
        font-family: "Unbounded", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        display: inline-block;
        max-width: 100%;
    }
    
    .app-item {
        padding: 1rem;
    }
    
    .app-icon {
        font-size: 2.5rem;
        width: 70px;
        height: 70px;
    }
    
    .bottom-sheet {
        height: 70vh;
    }
    
    .filter-bar {
        padding: 0 1rem 15px 1rem; 
        margin-left: -1rem;
        margin-right: -1rem;
    }
}

.theme-black img[src*="Sun.svg"],
.theme-grey img[src*="Sun.svg"] {
    filter: brightness(0) invert(1);
}